@page
@model Market.Pages.Groups.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Group.Id</td>
                <td>@Model.Group.GroupName</td>
            </tr>
            <tr>
           
        </tbody>
    </table>
</div>
<div class="container">
    <a class="btn btn-primary" asp-page="/Groups/Edit" asp-route-id="@Model.Group.Id">Edit</a> | 
    <a class="btn btn-outline-info" asp-page="/Groups/ShowGroups">back to Groups</a>
</div>