@page
@model Market.Pages.Groups.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Group</h2>

<div class="container">
    <form method="post">
        <div class="form-group">
            <label asp-for="Group.Id">ID</label>
            <input readonly type="text" asp-for="Group.Id" class="form-control" placeholder="Enter ID">
        </div>
        <div class="form-group">
            <label asp-for="Group.GroupName">Group Name</label>
            <input type="Text" class="form-control" asp-for="Group.GroupName"  placeholder="Enter name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-page="/groups/ShowGroups" class="btn btn-info">Cancle</a>
    </form>
</div>
